body {
    margin:0;
}



#header {
    top: 0; 
    width: 100%; 
    height: 7em ;
    background-color:black;  
    position: fixed; 
    overflow: hidden;
    transition: height 0.5s 0ms;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: row;   
}


header a {
    color:white;
    padding: 0.1em;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}


header h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    
}




header ul li{
    list-style:none;
    float:left;
    padding:2em;    
    padding-top:0;
}


.bild1 {
    height: 40%;;
    width: 100%;
    margin-top:1em;
}


.text-main-body {
    margin-top:6em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     
}

.list-contact {
    margin-top:5em;
    list-style: none;
    padding-bottom: 1em;
}

.contact-div {
    display:flex;
    justify-content: center;
    font-size:2.5em;
}

body div ul li h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

body div ul li {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:black;
    color: white;
    text-align: right;
    height:3em;
    font-style: italic;
}